.contact-page {
  padding: 120px 20px 80px;
  background: #f9f7f3;
  min-height: 80vh;
}

.contact-container {
  max-width: 900px;
  margin: auto;
}

.contact-container h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.contact-card {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.contact-card p {
  margin-bottom: 10px;
  font-size: 16px;
}

.location-list {
  display: grid;
  gap: 20px;
}

.location-card {
  background: #fff;
  padding: 22px;
  border-radius: 10px;
}

.location-card h3 {
  margin-bottom: 8px;
}

.map-wrapper {
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.location-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.contact-form {
  max-width: 420px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
}

.submit-btn:hover {
  background: #222;
}

.form-group textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  resize: none;
}

.contact-card p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  font-size: 18px;
  color: #111;
}

.contact-icon.whatsapp {
  color: #25D366;
}

a{
  color: #000;
  text-decoration: none;
}

.color:hover {
  color: #d4af37;
}