.hero {
  margin-top: 70px;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  padding: 60px;
  background: url("/hero.jpg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 520px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hero-content {
  max-width: 520px;
}

.tagline {
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 12px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

.description {
  font-size: 16px;
  /* color: #343333; */
  color: #fff;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.primary {
  background: #d4af37;
 color: #fff;
  border: none;
  padding: 14px 22px;
  cursor: pointer;
}

.secondary {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 14px 22px;
  cursor: pointer;
}

.secondary:hover {
  background: #d4af37;
  color: #fff;
}

@media (max-width: 900px) {

  .header {
    padding: 0 12px;
    height: 64px;
    display: grid;
    grid-template-columns: 40px 1fr 96px;
    align-items: center;
  }

  /* Left hamburger */
  .mobile-left {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
  }

  /* Center logo */
  .site-logo {
    position: static; 
    transform: none;
    text-align: center;
    font-size: 16px;
    justify-self: center;
  }

  /* Right icons */
  .header-icons {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
  }

  .icon {
    font-size: 18px;
  }

  /* Hide desktop nav + user */
  .nav,
  .user-icon {
    display: none !important;
  }
}